h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: rgb(168, 26, 106);
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 1px 38px rgb(255, 22, 131);}
    to {box-shadow: 1px 1px 38px rgb(255, 67, 164);}
}